$primary-color: #f8f9fa;
$secondary-color: hsl(210, 10%, 23%);
$text-red: #f50057;

.hero-text {
  color: $text-red;
  font-size: 3rem;
  font-weight: bold;
}
.hero-description {
  color: $secondary-color;
  font-size: 1.5rem;
}
.container > .nowrap {
  overflow-x: auto;
  flex-wrap: nowrap;
}
.like-icon {
  fill: $text-red;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    scale: 1.1;
  }
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }
}
